<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value="localhost"/>
		<add key="Instance" value="SQLEXPRESS"/>
		<add key="Database" value="BookStore"/>
		<add key="Username" value="admin"/>
		<add key="Password" value="secretPASS"/>
		<add key="Entropy" value="qwe3@1"/>
		<add key="Status" value="Logout"/>
		<add key="Page" value="0"/>

	</appSettings>
</configuration>